* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    'nav header header header header'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
    'nav main main main main'
}

img {
    padding-right: 5px;
}

.sidebar-container {
    width: 250px;
    background-color: #16a34a;
}

nav {
    grid-area: nav;
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.dashboard-title {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.nav-list {
    margin-left: 20px;
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

header {
    grid-area: header;
}

.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-bar-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.user-profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.welcome-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.button-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    'project project announcements'
    'project project announcements'
    'project project trending'
    'project project trending';
    background-color: #cbd5e1;
}

.your-projects {
    grid-area: project;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.project-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90vh;
    width: 65vw;
}

.your-projects-title {
    padding: 20px 10px 10px 10px;
}

.project-cards {
    border-left: steelblue 10px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 10px;
}

.announcements-title {
    padding: 20px 10px 10px 10px;
}

.announcement-cards {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 60vh;
    width: 30vh;
    box-shadow: 5px 10px;
}

.trending-title {
    padding: 20px 10px 10px 10px;
}

.trending-cards {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 30vh;
    width: 30vh;
    box-shadow: 5px 10px;
}

button {
    height: 40px;
    width: 80px;
    color: #fff;
    margin: 10px;
    background-color: #16a34a;
    border-radius: 20px;
}

.search-bar-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
}

.search-bar {
    background-color: #cbd5e1;
    width: 35vw;
    height: 30px;
    border-radius: 20px;
}

.search-icon {
    height: 30px;
    margin-left: 30px;
}

.user-profile {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    margin-top: 20px;
    align-items: center;
}

.lorde-profile {
    height: 40px;
    width: 60px;
    border-radius: 50px;
}

.bell-icon {
    height: 30px;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.lorde-profile2 {
    height: 80px;
    width: 120px;
    border-radius: 50px;
}

.name {
    font-size: 20px;
}